<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.nze.nzexchange">

    <!-- Required  一些系统要求的权限，如访问网络等 -->
    <uses-permission android:name="android.permission.USE_FINGERPRINT" />
    <uses-permission android:name="android.permission.RECEIVE_USER_PRESENT" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <!-- 这个权限用于进行网络定位 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <!-- 这个权限用于访问GPS定位 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_GPS" />
    <!-- 用于访问wifi网络信息，wifi信息会用于进行网络定位 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!-- 获取运营商信息，用于支持提供运营商信息相关的接口 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- 这个权限用于获取wifi的获取权限，wifi信息会用来进行网络定位 -->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <!-- 用于读取手机当前的状态 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!-- 写入扩展存储，向扩展卡写入数据，用于写入离线定位数据 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- 访问网络，网络定位需要上网 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- SD卡读取权限，用户写入离线定位数据 -->
    <uses-permission
        android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"
        tools:ignore="ProtectedPermissions" />
    <!-- 允许应用读取低级别的系统日志文件 -->
    <uses-permission
        android:name="android.permission.READ_LOGS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission
        android:name="android.permission.WRITE_SETTINGS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />

    <!-- 获取手机录音机使用权限，听写、识别、语义理解需要用到此权限 -->
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <!-- 允许程序改变网络连接状态 -->
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <!-- 读取联系人权限，上传联系人需要用到此权限 -->
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:name=".NzeApp"
        android:allowBackup="true"
        android:icon="@mipmap/logo_icon"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".controller.main.MainActivity"
            android:launchMode="singleTask"
            android:windowSoftInputMode="adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".controller.otc.BuyActivity" />
        <activity android:name=".controller.otc.SaleConfirmActivity" />
        <activity android:name=".controller.otc.PublishActivity" />
        <activity android:name=".controller.otc.tradelist.TradeListActivity" />
        <activity android:name=".controller.otc.tradelist.TradeCommonDetailActivity" />
        <activity android:name=".controller.otc.OtcConfirmActivity" />
        <activity android:name=".controller.my.paymethod.SetPayMethodActivity" />
        <activity android:name=".controller.my.paymethod.AddBankActivity" />
        <activity android:name=".controller.my.paymethod.AddZhifubaoActivity" />
        <activity android:name=".controller.transfer.CapitalTransferActivity" />
        <activity android:name=".controller.transfer.SelectAccountActivity" />

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <activity android:name=".controller.login.LoginActivity" />
        <activity android:name=".controller.login.PhoneRegisterActivity" />
        <activity android:name=".controller.login.EmailRegisterActivity" />
        <activity
            android:name=".controller.login.SelectCountryActivity"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" />
        <activity android:name=".controller.login.FindPwdActivity" />
        <activity android:name=".controller.bibi.BibiAllOrderActivity" />
        <activity android:name=".controller.my.setting.SettingActivity" />
        <activity android:name=".controller.my.setting.MoneyTypeSetActivity" />
        <activity android:name=".controller.my.setting.ColorModeSetActivity" />
        <activity android:name=".controller.my.setting.StyleModeSetActivity" />
        <activity android:name=".controller.my.setting.NightModeSetActivity" />
        <activity android:name=".controller.my.setting.ExchangeRateSetActivity" />
        <activity android:name=".controller.my.setting.ServiceChargeSetActivity" />
        <activity android:name=".controller.my.asset.MyAssetActivity" />
        <activity android:name=".controller.my.authentication.PrimaryAuthenticationActivity" />
        <activity android:name=".controller.my.authentication.PrimaryAuthenticationCompleteActivity" />
        <activity android:name=".controller.my.authentication.RealNameAuthenticationActivity" />
        <activity android:name=".controller.my.authentication.VideoAuthenticationActivity" />
        <activity android:name=".controller.login.QuickLoginActivity" />
        <activity android:name=".controller.my.safecenter.SafeCenterActivity" />
        <activity android:name=".controller.my.asset.recharge.RechargeCurrencyActivity" />
        <activity android:name=".controller.my.asset.SelectCurrencyActivity" />
        <activity android:name=".controller.my.asset.withdraw.WithdrawCurrencyActivity" />
        <activity android:name=".controller.my.asset.withdraw.CurrencyAddressSetListActivity" />
        <activity android:name=".controller.my.asset.withdraw.SelectCurrencyAddressListActivity" />
        <activity android:name=".controller.my.asset.withdraw.AddAddressActivity" />
        <activity android:name=".controller.my.asset.CurrencyAssetDetailActivity" />
        <activity android:name=".controller.my.asset.withdraw.WithdrawHistoryActivity" />
        <activity android:name=".controller.my.asset.recharge.RechargeHistoryActivity" />
        <activity android:name=".controller.my.asset.recharge.RechargeDetailActivity" />
        <activity android:name=".controller.my.asset.withdraw.WithdrawDetailActivity" />
        <activity android:name=".controller.my.safecenter.BindEmailActivity" />
        <activity android:name=".controller.my.safecenter.BindEmailVerifyActivity" />
        <activity
            android:name=".controller.my.safecenter.BindGoogleActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity android:name=".controller.my.safecenter.SetFundPasswordActivity" />
        <activity android:name=".controller.my.safecenter.ModifyPasswordActivity" />
        <activity android:name=".controller.my.safecenter.BindPhoneActivity" />
        <activity
            android:name=".controller.bibi.BibiSideActivity"
            android:theme="@style/DialogTheme" />
        <activity android:name=".controller.market.KLineActivity" />
        <activity android:name=".controller.my.authentication.AuthenticationHomeActivity" />
        <activity android:name=".controller.my.authentication.VideoRecordActivity" />
        <activity android:name=".controller.market.PairSearchActivity" />

        <service
            android:name=".controller.bibi.KLineService"
            android:enabled="true"
            android:exported="true" />

        <activity android:name=".controller.my.asset.transfer.TransferActivity" />
        <activity android:name=".controller.my.asset.transfer.TransferHistoryActivity" />
        <activity android:name=".controller.my.asset.legal.LegalRechargeActivity" />
        <activity android:name=".controller.my.paymethod.BindRechargeActivity" />
        <activity android:name=".controller.my.asset.legal.RechargeConfirmActivity" />
        <activity android:name=".controller.my.asset.legal.LegalWithdrawActivity" />
        <activity android:name=".controller.market.OptionalEditActivity" />
        <activity android:name=".controller.my.asset.legal.WithdrawPendingActivity" />
        <activity android:name=".controller.my.asset.legal.LegalWithdrawHistoryActivity" />
        <activity android:name=".controller.my.asset.legal.WithdrawSuccessActivity" />
        <activity android:name=".controller.otc.OtcSettingActivity" />
        <activity android:name=".controller.my.asset.legal.WithdrawRejectActivity" />
        <activity
            android:name=".controller.common.ShowImagePayMethodActivity"
            android:theme="@style/DialogTheme" />
        <activity
            android:name=".controller.common.ShowBankPayMethodActivity"
            android:theme="@style/DialogTheme" />
        <activity android:name=".controller.my.authentication.AuthenticationFailActivity" />
        <activity android:name=".controller.my.paymethod.AddBpayActivity" />
        <activity android:name=".controller.my.paymethod.AddOskoActivity" />
        <activity android:name=".controller.my.asset.legal.LegalRechargeHistoryActivity" />
        <activity
            android:name=".controller.otc.OtcAppealActivity"
            android:configChanges="orientation|keyboardHidden"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" />
        <activity android:name=".controller.login.RegisterAgreementActivity" />
        <activity android:name=".controller.common.webview.WebActivity" />
        <activity android:name=".controller.home.HelpCenterActivity" />
        <activity android:name=".controller.my.asset.legal.LegalTransferActivity" />
        <activity android:name=".controller.my.asset.legal.LegalAssetDetailActivity"></activity>
    </application>

</manifest>